header {
  padding-block: 3.5rem 9.625rem;

  & nav {
    padding-inline: 10rem;
    margin-inline: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    
    & a {
      font: var(--buttom);
    }
  }
}